bokeh
credstash
git+https://github.com/bokeh/datashader.git@0.6.5#egg=datashader
holoviews
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
jupyterlab_github
numpy
matplotlib
networkx
nxpd
sympy
scikit-learn
scipy
pandas
seaborn
xarray