bokeh
credstash
git+https://github.com/bokeh/datashader.git@0.6.5#egg=datashader
holoviews
ipympl
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
jupyterlab_github
numpy
matplotlib
networkx
nxpd
sympy
scikit-learn
scipy
pandas
seaborn
xarray
# needed for tensorflow
absl-py
astor
bleach==1.5.0
gast
grpcio
html5lib==0.9999999
markdown
protobuf
termcolor
werkzeug